<!DOCTYPE html>
<html>
<head>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114369504-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-114369504-2');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="keywords" content="GNIB, IRP, Re-Entry Visa, Irish Residence Permit, Appointments, INIS"/>
    <meta name="description" content="Find appointment slots for GNIB (Irish Residence Permit) without hassle"/>
    <meta name="robots" content="index,follow" />
    <meta name="author" content="Harshad Ranganathan">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
    <meta name="og:title" content="GNIB (IRP) &amp; Re-Entry Visa Appointments"/>
    <meta name="og:type" content="website"/>
    <meta name="og:description" content="Find appointment slots for GNIB (Irish Residence Permit) without hassle"/>
    <title>GNIB (IRP) &amp; Re-Entry Visa Appointments</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container"></div>
</body>
</html>