@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.rotate {
  animation: rotating 2s linear infinite;
}

.vh-75 {
  min-height: 75vh;
}

.display-linebreak {
  white-space: pre-line;
}